*{
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type:none;
}

html
{
	width:100%;
	height:100%;
}

body
{	width:100%;
	height:100%;
	color: #67727A;
	border: 2px rigid #ECF0F1;
}

.imgLogo
{
	position: absolute;
    max-width:75px;
	max-height: 75px;
    top:0px;
	bottom:0px;
    margin: auto;
    left: 30px;
    transition: left linear 0.2s, width linear 0.2s, height linear 0.2s;
    width: 100%;
    height: 100%;
}
.imgLogo:hover
{
	left: 25px;
	width:85px;
	height:85px;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

table
{
	width:100%;
}

tr
{
	border: 1px solid #9e9e9e;	
    line-height:200%;
  	text-align: right;	
}

  h2
{
	font-size: 250%;
	font-weight: 700;
	text-align: center;
	padding-top: 2%;
	text-transform: uppercase;
		
	
}

h3
{
	font-size: 175%;
	font-weight: 500;
	color: #524C56;
	text-transform: uppercase;
	padding: 2% 0 2% 0;
	line-height: 155%;
	text-align: center;
		 
}
p{
		font-family: 'lobster', Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif cursive;
		font-size: 100%;
		line-height: 155%;
		padding:3%;
		text-indent: 2%;
		text-align: justify;
	}

a
{
	color: #fff;
	text-decoration: none;
	font-weight: bold;

	
}
a:hover,a:focus
{
	color: #fff;
	text-decoration: underline;
}

.inner-wrapper
{
	float: left;
	width: 100%;
	height:auto;
	background-color: #bdbdbd grey lighten-5;
	border: 2px outset #bdbdbd grey lighten-2;

}

.cardImg
{
	height:250px;
}


.modal-content{
    min-height: 550px;
    max-height: 550px;
}

#about_us p
{
	font-size:90%;
}

#left_side
{
	width:50%;
	text-align: right;
	padding: 1%;
	background: #9e9e9e;
}
#right_side
{
	width:50%;
	text-align: left;
	padding: 1%;
	background: #E5E7E9; 
}

#contact-with-us p
{
	width:100%;
	font-size: 100%;
}
    
.second .social i img{
	height: 3px;
}